.App {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  min-height: 100vh;
}

.paymerang_logo {
  margin-top: 5vh;    
  margin-left: auto;
  margin-right: auto;
}

.paymerang-description {
  color: #2f5d75
}

.app-body {
  color: #2f5d75
}

@media only screen and (max-width: 575px) {
  .App {
      border-radius: 0px;
  }
}