.payee_info {
    position: relative;
    color:#cb4197;
}

.data-wrapper {
    margin: 0 auto;
    text-align: center !important;
}

.list-results {
    border: 2px solid #2f5d75;
    margin: 5px;
    margin-top: 10px;
}

.list-group-heading {
    font-weight: bold;
    text-align: center;
}

.list-column {
    
}